---
http_interactions:
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/position/?language=en&latitude=59.9128627&longitude=10.7434443
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: UTF-8
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","language":"en","id":"0"},"metadata":{"timestamp":"2025-01-28T22:13:49"},"result":{"id":null,"name":null,"longitude":"10.7434443","latitude":"59.9128627","county":null,"municipality":null,"informationMessage":null,"stationData":{"name":"Oslo","code":"OSL","latitude":"59.912863","longitude":"10.743444","delay":0.0,"factor":1.0,"obsName":"Oslo","obsCode":"OSL","place":null,"closestLocationId":"1082266","description":"Tides
        and observed water level from Oslo"},"searchMethod":"Coordinates","showError":false}}'
  recorded_at: Tue, 28 Jan 2025 22:13:49 GMT
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/waterLevels/?fromTime=2021-02-19T00:00&interval=10&language=en&latitude=59.9128627&longitude=10.7434443&place=&referenceCode=CD&toTime=2021-02-21T00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: ASCII-8BIT
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","fromTime":"2/19/2021
        12:00:00 AM","toTime":"2/21/2021 12:00:00 AM","showUncertainty":"True","referenceCode":"CD","interval":"10","language":"en"},"metadata":{"timestamp":"2025-01-28T22:13:50","elapsedTime":"00:00:01.6889962"},"result":{"fromDateTime":"2021-02-19T00:00:00","toDateTime":"2021-02-21T00:00:00","observations":[{"status":"Obs","measurement":{"value":67.0,"unit":"cm"},"dateTime":"2021-02-19T00:00:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Obs","measurement":{"value":66.0,"unit":"cm"},"dateTime":"2021-02-19T00:10:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Obs","measurement":{"value":64.8,"unit":"cm"},"dateTime":"2021-02-19T00:20:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"v[...]
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/tideforecast?language=en&latitude=59.9128627&longitude=10.7434443
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: ASCII-8BIT
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","fromTime":"1/28/2025
        11:13:51 PM","toTime":"2/2/2025 11:13:51 PM","referenceCode":"CD","language":"en"},"metadata":{"timestamp":"2025-01-28T22:13:52","elapsedTime":"00:00:01.0635699"},"result":{"forecasts":[{"status":"High","measurement":{"value":87.9,"unit":"cm"},"dateTime":"2025-01-28T04:38:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Low","measurement":{"value":54.4,"unit":"cm"},"dateTime":"2025-01-28T09:59:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"h[...]
