---
http_interactions:
- request:
    method: get
    uri: http://api.sehavniva.no/tideapi.php?datatype=all&dst=0&file=&fromtime=2021-02-02T00:00&interval=10&lang=en&lat=59.9128627&lon=10.7434443&place=&refcode=cd&tide_request=locationdata&totime=2021-02-04T00:00&tzone=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <tide>
        <locationdata>
        <location name="Oslo" code="OSL" latitude="59.912863" longitude="10.743444" delay="0" factor="1.00" obsname="Oslo" obscode="OSL" descr="Tides and observed water level from Oslo"/>
        <reflevelcode>CD</reflevelcode>
        <data type="observation" unit="cm">
        <waterlevel value="48.4" time="2021-02-02T00:00:00+01:00" flag="obs"/>
        <waterlevel value="47.6" time="2021-02-02T00:10:00+01:00" flag="obs"/>
        <waterlevel value="46.6" time="2021-02-02T00:20:00+01:00" flag="obs"/>
        <waterlevel value="45.3" time="2021-02-02T00:30:00+01:00" flag="obs"/>
        <waterlevel value="43.9" time="2021-02-02T00:40:00+01:00" flag="obs"/>
        <waterlevel value="42.5" time="2021-02-02T00:50:00+01:00" flag="obs"/>
        <waterlevel value="41.5" time="2021-02[...]
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/tideforecast?language=en&latitude=59.9128627&longitude=10.7434443
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: UTF-8
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","fromTime":"2/2/2021
        2:13:25 PM","toTime":"2/7/2021 2:13:25 PM","referenceCode":"CD","language":"en"},"metadata":{"timestamp":"2021-02-02T13:13:25","elapsedTime":"00:00:00.4234473"},"result":{"forecasts":[{"status":"Low","measurement":{"value":47.0,"unit":"cm"},"dateTime":"2021-02-02T02:03:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"High","measurement":{"value":80.0,"unit":"cm"},"dateTime":"2021-02-02T09:01:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Low","measurement":{"value":46.0,"unit":"cm"},"dateTime":"2021-02-02T14:32:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"[...]
