---
http_interactions:
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/position/?language=en&latitude=59.9128627&longitude=10.7434443
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: UTF-8
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","language":"en","id":"0"},"metadata":{"timestamp":"2025-01-29T08:40:41"},"result":{"id":null,"name":null,"longitude":"10.7434443","latitude":"59.9128627","county":null,"municipality":null,"informationMessage":null,"stationData":{"name":"Oslo","code":"OSL","latitude":"59.912863","longitude":"10.743444","delay":0.0,"factor":1.0,"obsName":"Oslo","obsCode":"OSL","place":null,"closestLocationId":"1082266","description":"Tides
        and observed water level from Oslo"},"searchMethod":"Coordinates","showError":false}}'
  recorded_at: Wed, 29 Jan 2025 08:40:41 GMT
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/waterLevels/?fromTime=2025-01-29T00:00&interval=10&language=en&latitude=59.9128627&longitude=10.7434443&place=&referenceCode=CD&toTime=2025-01-31T00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: ASCII-8BIT
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","fromTime":"1/29/2025
        12:00:00 AM","toTime":"1/31/2025 12:00:00 AM","showUncertainty":"True","referenceCode":"CD","interval":"10","language":"en"},"metadata":{"timestamp":"2025-01-29T08:40:42","elapsedTime":"00:00:01.0578170"},"result":{"fromDateTime":"2025-01-29T00:00:00","toDateTime":"2025-01-31T00:00:00","observations":[{"status":"Obs","measurement":{"value":74.2,"unit":"cm"},"dateTime":"2025-01-29T00:00:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Obs","measurement":{"value":75.1,"unit":"cm"},"dateTime":"2025-01-29T00:10:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Obs","measurement":{"value":75.8,"unit":"cm"},"dateTime":"2025-01-29T00:20:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"v[...]
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/tideforecast?language=en&latitude=59.9128627&longitude=10.7434443
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: ASCII-8BIT
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","fromTime":"1/29/2025
        9:40:43 AM","toTime":"2/3/2025 9:40:43 AM","referenceCode":"CD","language":"en"},"metadata":{"timestamp":"2025-01-29T08:40:44","elapsedTime":"00:00:01.5793607"},"result":{"forecasts":[{"status":"High","measurement":{"value":85.5,"unit":"cm"},"dateTime":"2025-01-29T05:24:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Low","measurement":{"value":53.0,"unit":"cm"},"dateTime":"2025-01-29T10:33:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"h[...]
