---
http_interactions:
- request:
    method: get
    uri: http://api.sehavniva.no/tideapi.php?datatype=all&dst=0&file=&fromtime=2021-02-02T00:00&interval=10&lang=en&lat=58.973981&lon=5.731113&place=&refcode=cd&tide_request=locationdata&totime=2021-02-04T00:00&tzone=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <tide>
        <service info="We are currently working on improving the water level data. In this period, there might be less consistency between the observed water level data and the return levels for extreme water levels for some areas. "/>
        <locationdata>
        <location name="Stavanger" code="SVG" latitude="58.973981" longitude="5.731113" delay="0" factor="1.00" obsname="Stavanger" obscode="SVG" descr="Tides and observed water level from Stavanger"/>
        <reflevelcode>CD</reflevelcode>
        <data type="observation" unit="cm">
        <waterlevel value="81.6" time="2021-02-02T00:00:00+01:00" flag="obs"/>
        <waterlevel value="84.5" time="2021-02-02T00:10:00+01:00" flag="obs"/>
        <waterlevel value="87.7" time="2021-02-02T00:20:00+01:00" flag="obs"/>
        <waterlevel value="91.0" time="2021-02-02T00:30:00+01:00" flag="obs"/>
        <waterlevel value="93.9" time="2021-02-02T00:40:00+01:00" flag="obs"/>
        <waterlevel value="96.4" time="2021-02-02T00:50:00+01:00" flag="obs"/>
        <waterlevel value="98.1" time="2021-02[...]
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/tideforecast?language=en&latitude=58.973981&longitude=5.731113
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: UTF-8
      string: '{"queryParameters":{"latitude":"58.973981","longitude":"5.731113","fromTime":"2/2/2021
        2:13:26 PM","toTime":"2/7/2021 2:13:26 PM","referenceCode":"CD","language":"en"},"metadata":{"timestamp":"2021-02-02T13:13:26","elapsedTime":"00:00:00.3895209"},"result":{"forecasts":[{"status":"High","measurement":{"value":93.0,"unit":"cm"},"dateTime":"2021-02-02T01:31:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Low","measurement":{"value":44.0,"unit":"cm"},"dateTime":"2021-02-02T07:20:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"High","measurement":{"value":97.0,"unit":"cm"},"dateTime":"2021-02-02T13:49:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"[...]
