---
http_interactions:
- request:
    method: get
    uri: http://api.sehavniva.no/tideapi.php?datatype=all&dst=0&file=&fromtime=2021-02-19T00:00&interval=10&lang=en&lat=59.9128627&lon=10.7434443&place=&refcode=cd&tide_request=locationdata&totime=2021-02-21T00:00&tzone=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <tide>
        <locationdata>
        <location name="Oslo" code="OSL" latitude="59.912863" longitude="10.743444" delay="0" factor="1.00" obsname="Oslo" obscode="OSL" descr="Tides and observed water level from Oslo"/>
        <reflevelcode>CD</reflevelcode>
        <data type="observation" unit="cm">
        <waterlevel value="61.7" time="2021-02-19T00:00:00+01:00" flag="obs"/>
        <waterlevel value="60.7" time="2021-02-19T00:10:00+01:00" flag="obs"/>
        <waterlevel value="59.6" time="2021-02-19T00:20:00+01:00" flag="obs"/>
        <waterlevel value="58.1" time="2021-02-19T00:30:00+01:00" flag="obs"/>
        <waterlevel value="56.6" time="2021-02-19T00:40:00+01:00" flag="obs"/>
        <waterlevel value="55.5" time="2021-02-19T00:50:00+01:00" flag="obs"/>
        <waterlevel value="54.7" time="2021-02[...]
- request:
    method: get
    uri: https://www.kartverket.no/api/vsl/tideforecast?language=en&latitude=59.9128627&longitude=10.7434443
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Env:
      - ProductionConfig
    body:
      encoding: UTF-8
      string: '{"queryParameters":{"latitude":"59.9128627","longitude":"10.7434443","fromTime":"2/19/2021
        7:31:15 PM","toTime":"2/24/2021 7:31:15 PM","referenceCode":"CD","language":"en"},"metadata":{"timestamp":"2021-02-19T18:31:16","elapsedTime":"00:00:00.3898022"},"result":{"forecasts":[{"status":"Low","measurement":{"value":47.0,"unit":"cm"},"dateTime":"2021-02-19T04:35:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"High","measurement":{"value":78.0,"unit":"cm"},"dateTime":"2021-02-19T11:35:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"value":0.0,"unit":"cm"},"higherPercentile":{"value":0.0,"unit":"cm"}},{"status":"Low","measurement":{"value":50.0,"unit":"cm"},"dateTime":"2021-02-19T17:14:00+01:00","lowPercentile":{"value":0.0,"unit":"cm"},"lowerPercentile":{"value":0.0,"unit":"cm"},"highPercentile":{"[...]
